<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        List<string> FoodList = new List<string>() {"Apple Pie", "Pizza", "Cinnamon Rolls", "Lasagna", "Donuts", "Chocolate Cake", "Burritos"};
        foreach(string food in FoodList)
        {
            @if (food.StartsWith('C'))
            {
                <p style="color: red">@food</p>
            }else
            {
                <p>@food</p>
            }
        }
    }
</body>
</html>